
{% extends 'drive/menu.html' %}
{% block title %} SchoolDrive | Perfil {% endblock %}

{% block content %}
<style>
    .custom-file-input ~ .custom-file-label::after {
    content: "Examinar";
}
</style>
    <div class="container" style="margin-top:2em">
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <div class='alert {{message.tags}}'>
                        {{message}}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="row">
            
            <div class="col-md-3">
                <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                <div class="ibox float-e-margins">
                    <!-- <form id="subir" method="post" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        <h5>Subir Archivo</h5>
                        <div class="form-group">
                            <label for="nombreArchivo" style="font-size: 14px;">Nombre Archivo:</label>
                            <input type="text" class="form-control" name="nombre" id="nombreArchivo" placeholder="Nombre" required>
                            <span id="nombrearchivospanError" style="display: none;" >El nombre no puede contener ? * . " / \ [ ] ; | = ,</span>
                        </div>
                        <div class="custom-file" lang="es">
                            <input style="width:100%" type="file" class="custom-file-input" name="archivo" id="archivo">
                            <label class="custom-file-label" for="archivo">Elegir Archivo</label>
                            <span id="archivospanError" style="display: none;" >Debes seleccionar un archivo</span>
                        </div>
                        <div class="form-group">
                            <label for="carpetaArchivo" style="font-size: 14px;">Carpeta:</label>
                            <select class="form-control" name="folder" id="carpetaArchivo" style="width:100%" required>
                                {%for folder in folders%}
                                    <option>{{folder.nombre}}</option>
                                {%endfor%}
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" name="Upload_file" class="btn btn-primary" style="width: 100%;">Subir Archivo</button>
                        </div>
                    </form>  -->

                    <div class="hr-line-dashed"></div>
                    <h5>Carpetas</h5>
                    <!--ul class="folder-list" style="padding: 0">
                        {%for folder in folders%}
                            <li><a href="{{folder.id}}"><i class="fa fa-folder"></i>{{folder.nombre}}</a></li>
                        {%endfor%}
                    </ul>-->
                    <input style="display: none;" id="treeFolder" value="{{tree_folder}}">
                    <ul id="treeview">
                    </ul>
                    <h5 class="tag-title">Tags</h5>
                    <p>Coming soon...</p>
                    <!-- <ul class="tag-list" style="padding: 0">
                        <li><a href="">Family</a></li>
                        <li><a href="">Work</a></li>
                        <li><a href="">Home</a></li>
                        <li><a href="">Children</a></li>
                        <li><a href="">Holidays</a></li>
                        <li><a href="">Music</a></li>
                        <li><a href="">Photography</a></li>
                        <li><a href="">Film</a></li>
                    </ul> -->
                    <div class="clearfix"></div>
                        <!-- </div> -->
                    <!-- </div> -->
                </div>
            </div>

            <div class="col-md-9 animated fadeInRight">
                <form id="eliminar" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#subirArchivo">
                            <i class="fa fa-cloud-upload"></i> Subir Archivo
                        </button>
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#crearCarpeta">
                            <i class="fa fa-folder-o"></i> Crear Carpeta
                        </button>
                        <button type="submit" name="deleteFiles" class="btn btn-outline-danger" style="margin-left: 23%;">
                            <i class="fa fa-trash"></i> Eliminar Selección
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="crearCarpeta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Crear Carpeta</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <input type="text" class="form-control" id="newFolder" name="newFolder" placeholder="Nombre Carpeta" style="width: 100%;">
                                    <input id="newOriginFolder" name="newOriginFolder" type="hidden" value="{{current_folder.nombre}}">
                                </div>
                                <div class="modal-footer">
                                    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button> -->
                                    <button type="submit" class="btn btn-primary mb-2" style="width:25%" name="new_folder">Crear</button>
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="modal fade" id="subirArchivo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Subir Archivo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="nombreArchivo" style="font-size: 14px;">Nombre Archivo:</label>
                                        <input type="text" class="form-control" name="nombre" id="nombreArchivo" placeholder="Nombre">
                                        <span id="nombrearchivospanError" style="display: none;" >El nombre no puede contener ? * . " / \ [ ] ; | = ,</span>
                                    </div>
                                    <div class="custom-file" lang="es">
                                        <input style="width:100%" type="file" class="custom-file-input" name="archivo" id="archivo">
                                        <label class="custom-file-label" for="archivo">Elegir Archivo</label>
                                        <span id="archivospanError" style="display: none;" >Debes seleccionar un archivo</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="carpetaArchivo" style="font-size: 14px;">Carpeta:</label>
                                        <select class="form-control" name="folder" id="carpetaArchivo" style="width:100%" required>
                                            {%for folder in folders%}
                                                <option>{{folder.nombre}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button> -->
                                    <button type="submit" class="btn btn-primary mb-2" style="width:25%" name="Upload_file">Subir</button>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fa fa-folder-open-o"></i> Crear Carpeta
                        </button> -->
                        <!-- <div class="collapse form-inline" id="collapseExample">
                            <input type="text" class="form-control" id="newFolder" name="newFolder" placeholder="Nombre Carpeta" style="width: 300px;">
                            <button type="submit" class="btn btn-primary mb-2" style="margin-top: 8px;" name="new_folder">Crear</button>
                            <input id="newOriginFolder" name="newOriginFolder" type="hidden" value="{{current_folder.nombre}}">
                        </div> -->
                        
                    </div>
                    
                    <div class="row" style="margin-top: 40px;">
                        <div class="col-lg-12">

                            {%for folder in folders%}
                                {%if folder.padre.id|stringformat:"s" == current_folder.id|stringformat:"s"%}
                                <!-- {{folder.padre.id}} {{current_folder.id}} -->
                                <div class="file-box">
                                    <div class="file">
                                        <span class="corner"></span> 
                                        <div class="icon contenedor">
                                            <i class="fa fa-folder-o"></i>
                                            <div class="texto-encima">
                                                <input class="form-check-input" type="checkbox" name="{{folder.id}}" id="{{file.nombre}}" style="margin-left:5px;">
                                            </div>
                                        </div>
                                        <div class="file-name">
                                            <a href="{{folder.id}}">
                                                {{folder.nombre}}
                                            </a>
                                            <br>
                                            <small>Added: {{ folder.fecha_creacion }}</small>
                                        </div>
                                    </div>
                                </div>
                                {%endif%}
                            {%endfor%}
                            
                            {% for file in files %}
                            <div class="file-box">
                                <div class="file">
                                    <span class="corner"></span> 
                                    <div class="icon contenedor">
                                        {%if file.formato in formatos_img%}
                                            <img class="imageicon" src="{{ file.archivo.url }}" style="height:100px">
                                        {%elif file.formato in formatos_vid%}
                                            <i class="img-responsive fa fa-film"></i>
                                        {%elif file.formato in formatos_msc%}
                                            <i class="fa fa-music"></i>
                                        {%elif file.formato in formatos_doc%}
                                            <i class="fa fa-file"></i>
                                        {%elif file.formato in formatos_xcl%}
                                            <i class="fa fa-bar-chart-o"></i>
                                        {%else%}
                                            <i class="fa fa-file"></i>
                                        {%endif%}
                                        <div class="texto-encima">
                                            <input class="form-check-input" type="checkbox" name="{{file.carpeta.id}}/{{file.nombre}}.{{file.formato}}" id="{{file.nombre}}" style="margin-left:5px;">
                                        </div>
                                    </div>
                                    <div class="file-name">
                                        <a target="_blank" href="{{file.archivo.url}}">
                                        {{ file.nombre }}.{{ file.formato }}
                                        </a>
                                        <br>
                                        <small>Added: {{ file.fecha_upload }}</small>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                            {%if not files%}
                                <h6 style="margin-top: 20%; text-align: center; color:lightgray">No hay archivos para mostrar 🙁</h6>
                            {%endif%}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="//www.shieldui.com/shared/components/latest/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="//www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
{% load static %}
<script src="{% static 'drive/js/datafiles.js' %}"></script>
{% endblock %}