
{% extends 'drive/menu.html' %}
{% block title %} SchoolDrive | Perfil {% endblock %}

{% block content %}
    <div class="container" style="margin-top:2em">
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <div class='alert {{message.tags}}'>
                        {{message}}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="row">
            
            <div class="col-md-3">
                {% if user_public.avatar %}
                    <img src="{{ user_public.avatar.url }}" class="profilepicSearch">
                {% else %}
                    {% load static %}
                    <img src="{% static 'drive/img/doggo.jpg' %}" class="profilepicSearch">
                {% endif %}
                <h3>Archivos de <br/>{{ user_public.first_name }} {{ user_public.last_name }}</h3>
                <hr>
                {%for folder in ruta_list%}
                    <a href="{{folder.id}}"><i class="fa fa-folder-open-o"></i> {{folder.nombre}}&nbsp;</a>>&nbsp;
                {%endfor%}
                <hr>
                <div class="ibox float-e-margins">
                    <div class="hr-line-dashed"></div>
                    <h5>Carpetas</h5>
                    <!--ul class="folder-list" style="padding: 0">
                        {%for folder in folders%}
                            <li><a href="{{folder.id}}"><i class="fa fa-folder"></i>{{folder.nombre}}</a></li>
                        {%endfor%}
                    </ul>-->
                    <input style="display: none;" id="treeFolder" value="{{tree_folder}}">
                    <input style="display: none;" id="currentFolder" value="{{current_folder.id}}">
                    <ul id="treeview">
                    </ul>
                    <h5 class="tag-title">Tags</h5>
                    <p>Coming soon...</p>
                    <!-- <ul class="tag-list" style="padding: 0">
                        <li><a href="">Family</a></li>
                        <li><a href="">Work</a></li>
                        <li><a href="">Home</a></li>
                        <li><a href="">Children</a></li>
                        <li><a href="">Holidays</a></li>
                        <li><a href="">Music</a></li>
                        <li><a href="">Photography</a></li>
                        <li><a href="">Film</a></li>
                    </ul> -->
                    <div class="clearfix"></div>
                        <!-- </div> -->
                    <!-- </div> -->
                </div>
            </div>

            <div class="col-md-9 animated fadeInRight">   
                        
                
                    {% csrf_token %}   
                    
                    <div class="row" style="margin-top: 40px;">
                        <div class="col-lg-12">

                            {%for folder in folders%}
                                {%if folder.padre.id|stringformat:"s" == current_folder.id|stringformat:"s"%}
                                <!-- {{folder.padre.id}} {{current_folder.id}} -->
                                <div ondblclick="window.location.href='{{folder.id}}'" class="file-box">
                                    <div class="file">
                                        <span class="corner"></span> 
                                        <div class="icon contenedor">
                                            <i class="fa fa-folder-o"></i>
                                            <div class="texto-encima">
                                                <input class="form-check-input" type="checkbox" name="{{folder.id}}" id="{{file.nombre}}" style="margin-left:5px;">
                                            </div>
                                        </div>
                                        <div class="file-name">
                                            <a>
                                                {{folder.nombre}}
                                            </a>
                                            <br>
                                            <small>Added: {{ folder.fecha_creacion }}</small>
                                        </div>
                                    </div>
                                </div>
                                {%endif%}
                            {%endfor%}
                            {% for file in files %}
                            <div style="cursor:pointer;" ondblclick="window.open('{{file.archivo.url}}','_blank');" class="file-box">
                                <div class="file">
                                    <span class="corner"></span> 
                                    <div class="icon contenedor">
                                        {%if file.formato in formatos_img%}
                                            <img class="imageicon" src="{{ file.archivo.url }}" style="height:100px">
                                        {%elif file.formato in formatos_vid%}
                                            <i class="img-responsive fa fa-film"></i>
                                        {%elif file.formato in formatos_msc%}
                                            <i class="fa fa-music"></i>
                                        {%elif file.formato in formatos_doc%}
                                            <i class="fa fa-file"></i>
                                        {%elif file.formato in formatos_xcl%}
                                            <i class="fa fa-bar-chart-o"></i>
                                        {%else%}
                                            <i class="fa fa-file"></i>
                                        {%endif%}
                                        <div class="texto-encima">
                                            <input class="form-check-input" type="checkbox" name="{{file.carpeta.id}}/{{file.nombre}}.{{file.formato}}" id="{{file.nombre}}" style="margin-left:5px;">
                                        </div>
                                    </div>
                                    <div class="file-name">
                                        <a >
                                        {{ file.nombre }}.{{ file.formato }}</br>
                                        <a style="color:#666666" href="" data-toggle="collapse" data-target="#{{ file.nombre }}{{ file.formato }}">Mostrar etiquetas...</a>
                                        <div id="{{ file.nombre }}{{ file.formato }}" class="collapse">
                                            {% for tag in file.tags.names %}
                                                <a class="mr-1 badge badge-info">{{ tag }}</a>
                                            {%endfor%}
                                        </div>
                                        </a>
                                        <br>
                                        <small>Added: {{ file.fecha_upload }}</small>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                            {%if not files and not folders%}
                                <h6 style="margin-top: 20%; text-align: center; color:lightgray">No hay archivos para mostrar 🙁</h6>
                            {%endif%}
                        </div>
                    </div>
            </div>
        </div>
    </div> 
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="//www.shieldui.com/shared/components/latest/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="//www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
{% load static %}
<script src="{% static 'drive/js/tagInput.js' %}"></script>
{% load static %}
<script src="{% static 'drive/js/datafiles.js' %}"></script>
{% endblock %}