{% extends 'drive/menu.html' %}
{% block title %} SchoolDrive | Home {% endblock %}
{% block content %}
        <div class="container" style="margin-top:2em">
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <div class='alert {{message.tags}}'>
                            {{message}}
                        </div>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="row"> <!-- Rows y cols tienen su documentación en grid-->
                <div class="col">     
                    <!-- Inicio No-Busqueda -->
                    <div class="header-search">
                        <h1 class="display-4">
                            {% if user.is_authenticated %}
                                Hola, {{ user.apodo }}!
                            {% else %}
                                School Drive
                            {% endif %}
                        </h1>
                        <p class="lead">Ingresa tu búsqueda:</p>
                    </div>
                    
                    <form class="form-inline" method="POST" style="display: block;">
                        {% csrf_token %}
                        <div class="input-group" >
                            <div class="form-inline" style="margin-right: 0; margin-left: auto;">
                                <input class="form-control searchbar" type="text" size="50" name="buscar" placeholder="Búsqueda" aria-label="Search" value="{{search}}">
                            </div>
                            <div class="input-group-append" style="margin-right: auto; margin-left: 0;">
                                <button class="btn btn-outline-primary my-2 my-sm-0 searchbutton" type="submit" name="search-all"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        {% if busqueda%}
                        <div style="margin-top:20px">
                            <ul class="nav nav-pills nav-justified">
                                <li class="nav-item">
                                    {% if search_all %}
                                        <a class="nav-link active">
                                            <button class="btn btn-outline-primary tab-search-sel" type="submit" name="search-all">
                                                Todo
                                            </button>
                                        </a>
                                    {% else %}
                                        <a class="nav-link">
                                            <button class="btn btn-outline-secondary tab-search" type="submit" name="search-all">
                                                Todo
                                            </button>
                                        </a>
                                    {% endif %}
                                </li>
                                <li class="nav-item">
                                    {% if search_files %}
                                        <a class="nav-link active">
                                            <button class="btn btn-outline-primary tab-search-sel" type="submit" name="search-files">
                                                Archivos
                                            </button>
                                        </a>
                                    {% else %}
                                        <a class="nav-link">
                                            <button class="btn btn-outline-secondary tab-search" type="submit" name="search-files">
                                                Archivos
                                            </button>
                                        </a>
                                    {% endif %}
                                </li>
                                <li class="nav-item">
                                    {% if search_users %}
                                        <a class="nav-link active">
                                            <button class="btn btn-outline-primary tab-search-sel"  type="submit" name="search-users">
                                                Usuarios
                                            </button>
                                        </a>
                                    {% else %}
                                        <a class="nav-link">
                                            <button class="btn btn-outline-secondary tab-search" type="submit" name="search-users">
                                                Usuarios
                                            </button>
                                        </a>
                                    {% endif %}
                                </li>
                                <li class="nav-item">
                                    {% if search_tags %}
                                        <a class="nav-link active">
                                            <button class="btn btn-outline-primary tab-search-sel" type="submit" name="search-tags">
                                                Etiquetas
                                            </button>
                                        </a>
                                    {% else %}
                                        <a class="nav-link">
                                            <button class="btn btn-outline-secondary tab-search" type="submit" name="search-tags">
                                                Etiquetas
                                            </button>
                                        </a>
                                        
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                        {% endif %}
                    </form>

                    {% if busqueda%}
                        {%for usuario in usuarios %}
                        <div style="cursor:pointer;" ondblclick="window.open('user/{{usuario.email}}/{{usuario.carpeta_raiz}}','_blank');" class="search-container file-box">
                            <div class="search-box">
                                <div class="img-profile-search">
                                {% if usuario.avatar %}
                                    <img src="{{ usuario.avatar.url }}" class="profilepicSearch">
                                {% else %}
                                    {% load static %}
                                    <img src="{% static 'drive/img/doggo.jpg' %}" class="profilepicSearch">
                                {% endif %}
                                </div>
                                <div class="name-profile-search">
                                    <a style="font-size: 1.3rem;"> {{usuario.first_name}} {{usuario.last_name}}</a><br>
                                    <a style="color:gray; padding-top: 0px;" >{{usuario.email}}</a>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                        {%for file in tags%}
                            <div style="cursor:pointer;" ondblclick="window.open('{{file.archivo.url}}','_blank');" class="search-container file-box">
                                <div class="file"> 
                                    <span class="corner"></span> 
                                    <div class="icon contenedor">
                                        {%if file.formato in formatos_img%}
                                            <img class="imageicon" src="{{ file.archivo.url }}" style="height:100px">
                                        {%elif file.formato in formatos_vid%}
                                            <i class="img-responsive fa fa-film"></i>
                                        {%elif file.formato in formatos_msc%}
                                            <i class="fa fa-music"></i>
                                        {%elif file.formato in formatos_doc%}
                                            <i class="fa fa-file"></i>
                                        {%elif file.formato in formatos_xcl%}
                                            <i class="fa fa-bar-chart-o"></i>
                                        {%else%}
                                            <i class="fa fa-file"></i>
                                        {%endif%}
                                    </div>
                                    <div style="overflow:hidden; white-space:nowrap; text-overflow: ellipsis;" class="file-name">
                                        <a style="font-size: 1.3rem;">
                                        {{ file.nombre }}.{{ file.formato }} <br/>
                                        {% for tag in file.tags.names %}
                                            <a class="mr-1 badge badge-info">{{ tag }}</a>
                                        {%endfor%}
                                        <br/>
                                        <a style="font-size: 12px;">Subido por: </a><a style="color: gray;" href="user/{{file.usuario.email}}/{{file.usuario.carpeta_raiz}}" >{{file.usuario.first_name}}</a>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {%endfor%}
                        {%for file in files%}
                            <div style="cursor:pointer;" ondblclick="window.open('{{file.archivo.url}}','_blank');" class="search-container file-box">
                                <div class="file"> 
                                    <span class="corner"></span> 
                                    <div class="icon contenedor">
                                        {%if file.formato in formatos_img%}
                                            <img class="imageicon" src="{{ file.archivo.url }}" style="height:100px">
                                        {%elif file.formato in formatos_vid%}
                                            <i class="img-responsive fa fa-film"></i>
                                        {%elif file.formato in formatos_msc%}
                                            <i class="fa fa-music"></i>
                                        {%elif file.formato in formatos_doc%}
                                            <i class="fa fa-file"></i>
                                        {%elif file.formato in formatos_xcl%}
                                            <i class="fa fa-bar-chart-o"></i>
                                        {%else%}
                                            <i class="fa fa-file"></i>
                                        {%endif%}
                                    </div>
                                    <div style="overflow:hidden; white-space:nowrap; text-overflow: ellipsis;" class="file-name">
                                        <a style="font-size: 1.3rem;">
                                        {{ file.nombre }}.{{ file.formato }}<br/>
                                        {% for tag in file.tags.names %}
                                            <a class="mr-1 badge badge-info">{{ tag }}</a>
                                        {%endfor%}
                                        <br/>
                                        <a style="font-size: 12px;">Subido por: </a><a style="color: gray;" href="user/{{file.usuario.email}}/{{file.usuario.carpeta_raiz}}" >{{file.usuario.first_name}}</a>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {%endfor%}
                        <!-- Fin Busqueda -->
                    {% else %}
                        <hr class="my-4">
                        
                        <div class="centered-div">
                            <p class="lead">Aquí podrás subir todo tu material de estudios y compartirlo con tus compañer@s
                            {% if not user.is_authenticated %}
                                Para empezar, debes registrarte en el formulario a la derecha.
                            {% endif %}
                            </p>
                        </div>
                        <!-- Fin No-Búsqueda -->
                    {% endif %}    
                </div>

                {% if not user.is_authenticated %}
                <div class="col-4" style="
                border: 1px solid rgba(0,0,0,.15);
                border-radius: .25rem;
                padding: .5rem .75rem;
                line-height: 1.25;"> <!-- Rows y cols tienen su documentación en grid-->
                    <h1> Registrarse </h1>
                    <form id="form" method="post" novalidate>
                        {% csrf_token %}
                        <div class="row form-group">
                            <div class="col">
                                <label for="nombre_usuario" style="font-size: small;">Nombre: </label>
                                <input type="text" class="form-control" id=nombre_usuario name="Nombre" placeholder="Johnny" required>
                                <span id="nombreError" >Debes ingresar un nombre válido</span>
                            </div>
                            <div class="col">
                                <label for="Apellido" style="font-size: small;">Apellido: </label>
                                <input type="text" class="form-control" id="Apellido" name="Apellido" placeholder="Bravo" required>
                                <span id="apellidoError">Debes ingresar tu apellido</span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col">
                                <label for="mail" style="font-size: small;">Mail: </label>
                                <input type="email" class="form-control" id="mail" name="mail" placeholder="email@example.com" required>
                                <small id="emailHelp" class="form-text text-muted">No compartiremos tu e-mail con nadie.</small>
                                <span id="mailError" >Debes ingresar un email válido</span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col">
                                <label for="contraseña" style="font-size: small;">Contraseña: </label>
                                <input type="password" class="form-control" id="contraseña" name="contraseña" placeholder="Password" required>
                                <span id="contraseñaErrorInput" >Debes ingresar una contraseña</span>
                            </div>
                            <div class="col">
                                <label for="contraseña" style="font-size: small;">Repetir Contraseña: </label>
                                <input type="password" class="form-control" id="contraseñaVerif" name="contraseña" placeholder="Password" required>
                                <span id="contraseñaError" >Las contraseñas no son iguales</span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col">
                                <label for="apodo" style="font-size: small;">Apodo: </label>
                                <input type="text" class="form-control" id="apodo" name="apodo" placeholder="Handsome" required>
                                <span id="apodoError" >Debes ingresar un apodo válido</span>
                            </div>
                        </div>

                        <button type="submit" name="register" class="btn btn-primary btn-block">Registrarse</button>
                    </form>
                </div>
                {% endif %}
            <!-- content -->
        </div><!-- container -->
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% load static %}
<script src="{% static 'drive/js/index.js' %}"></script>
{% endblock %}
