{% extends 'drive/menu.html' %}
{% block title %} SchoolDrive | Home {% endblock %}
{% block content %}
        <div class="container" style="margin-top:2em">
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <div class='alert {{message.tags}}'>
                            {{message}}
                        </div>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="row"> <!-- Rows y cols tienen su documentación en grid-->
                <div class="col">     
                    {% if busqueda%}
                        <!-- Inicio Busqueda -->
                        {% load static %}
                        <form class="form-inline" method="POST" style="display: block;">
                            {% csrf_token %}
                            <div class="input-group is-invalid" >
                                <div class="form-inline" style="margin-right: 0; margin-left: auto;">
                                    <input class="form-control searchbar" type="text" size="50" name="buscar" placeholder="Archivo, usuario, ..." aria-label="Search" value="{{search}}">
                                </div>
                                <div class="input-group-append" style="margin-right: auto; margin-left: 0;">
                                    <button class="btn btn-outline-primary my-2 my-sm-0 searchbutton" type="submit" name="search-user"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                            <div style="margin-top:20px">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        {% if search_files %}
                                            <button class="nav-link active" style="color:#A96CEB;" type="submit" name="search-files">Archivos</button>
                                        {% else %}
                                            <button class="nav-link" type="submit" name="search-files">Archivos</button>
                                        {% endif %}
                                    </li>
                                    <li class="nav-item">
                                        {% if search_users %}
                                            <button class="nav-link active" style="color:#A96CEB;" type="submit" name="search-users"><b>Usuarios</b></button>
                                        {% else %}
                                            <button class="nav-link" type="submit" name="search-users">Usuarios</button>
                                        {% endif %}
                                    </li>
                                    <li class="nav-item">
                                        {% if search_tags %}
                                            <button class="nav-link active" style="color:#A96CEB;" type="submit" name="search-tags">Etiquetas</button>
                                        {% else %}
                                            <button class="nav-link" type="submit" name="search-tags">Etiquetas</button>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </form>

                        {%for usuario in usuarios %}
                        <div class="search-container">
                            <div class="search-box">
                                <div class="img-profile-search">
                                {% if usuario.avatar %}
                                    <img src="{{ usuario.avatar.url }}" class="profilepicSearch">
                                {% else %}
                                    <img src="{% static 'drive/img/doggo.jpg' %}" class="profilepicSearch">
                                {% endif %}
                                </div>
                                <div class="name-profile-search">
                                    <a style="font-size: 1.3rem;"> {{usuario.first_name}} {{usuario.last_name}}</a><br>
                                    <a style="color:gray; padding-top: 0px;" >{{usuario.email}}</a>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                        <!-- Fin Busqueda -->
                    {% else %}
                        <!-- Inicio No-Busqueda -->
                        <h1 class="display-4">
                            {% if user.is_authenticated %}
                                Hola, {{ user.apodo }}!
                            {% else %}
                                School Drive
                            {% endif %}
                        </h1>
                        <p class="lead">Aquí podrás subir todo tu material de estudios y compartirlo con tus compañer@s</p>
                        <hr class="my-4">
                        {% if user.is_authenticated %}
                                Realiza tu búsqueda aquí:
                            {% else %}
                                <p> Para empezar, debes registrarte en el formulario a la derecha. <br>
                                    También puedes realizar tu búsqueda sin estar registrado (proximamente)</p>
                        {% endif %}
                        <form class="form-inline" method="POST">
                            {% csrf_token %}
                            <input class="form-control" type="text" name="buscar" placeholder="Archivo, usuario, ..." aria-label="Search">
                            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" name="search-users">Buscar</button>
                        </form>
                        <!-- Fin No-Búsqueda -->
                    {% endif %}
                        
                        
                    
                </div>

                {% if not user.is_authenticated %}
                <div class="col-4" style="
                border: 1px solid rgba(0,0,0,.15);
                border-radius: .25rem;
                padding: .5rem .75rem;
                line-height: 1.25;"> <!-- Rows y cols tienen su documentación en grid-->
                    <h1> Registrarse </h1>
                    <form id="form" method="post" novalidate>
                        {% csrf_token %}
                        <div class="row form-group">
                            <div class="col">
                                <label for="nombre_usuario" style="font-size: small;">Nombre: </label>
                                <input type="text" class="form-control" id=nombre_usuario name="Nombre" placeholder="Johnny" required>
                                <span id="nombreError" >Debes ingresar un nombre válido</span>
                            </div>
                            <div class="col">
                                <label for="Apellido" style="font-size: small;">Apellido: </label>
                                <input type="text" class="form-control" id="Apellido" name="Apellido" placeholder="Bravo" required>
                                <span id="apellidoError">Debes ingresar tu apellido</span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col">
                                <label for="mail" style="font-size: small;">Mail: </label>
                                <input type="email" class="form-control" id="mail" name="mail" placeholder="email@example.com" required>
                                <small id="emailHelp" class="form-text text-muted">No compartiremos tu e-mail con nadie.</small>
                                <span id="mailError" >Debes ingresar un email válido</span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col">
                                <label for="contraseña" style="font-size: small;">Contraseña: </label>
                                <input type="password" class="form-control" id="contraseña" name="contraseña" placeholder="Password" required>
                                <span id="contraseñaErrorInput" >Debes ingresar una contraseña</span>
                            </div>
                            <div class="col">
                                <label for="contraseña" style="font-size: small;">Repetir Contraseña: </label>
                                <input type="password" class="form-control" id="contraseñaVerif" name="contraseña" placeholder="Password" required>
                                <span id="contraseñaError" >Las contraseñas no son iguales</span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col">
                                <label for="apodo" style="font-size: small;">Apodo: </label>
                                <input type="text" class="form-control" id="apodo" name="apodo" placeholder="Handsome" required>
                                <span id="apodoError" >Debes ingresar un apodo válido</span>
                            </div>
                        </div>

                        <button type="submit" name="register" class="btn btn-primary btn-block">Registrarse</button>
                    </form>
                </div>
                {% endif %}
            <!-- content -->
        </div><!-- container -->
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% load static %}
<script src="{% static 'drive/js/index.js' %}"></script>
{% endblock %}
