<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'drive/css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#A96CEB;">
        
        <!-- Home -->
        <a class="navbar-brand" href="/" style="color: aliceblue;">
            <img src="{% static 'drive/img/logov2.png' %}" style="height: 40px;"> 
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/" style="color: white;">Inicio <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/profile" style="color: white;">Editar Perfil</a>
                </li>
                
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link disabled"  tabindex="-1" aria-disabled="true">Mis Archivos</a>
                </li>
                {% endif %}
            </ul>
            
            <form class="form-inline my-2 my-lg-0" method="POST">
            {% if not user.is_authenticated %}
                {% csrf_token %}

                <div class="form-group mb-2" style="margin-right: 5px;">
                    <label for="email" style="color: aliceblue;font-size: medium;">Email: &nbsp;</label>
                    <input type="text" class="form-control" id="nombre_usuario_login" name="mail" style="size: 20px;" placeholder="email@example.com" required>
                </div>

                <div class="form-group mb-2" style="margin-right: 5px;">
                    <label for="contraseña" style="color: aliceblue;font-size: medium;">Password: &nbsp;</label>
                    <input type="password" class="form-control" id="contraseña_login" name="contraseña"  placeholder="Password" required>
                </div>
                
                <button type="submit" type="button" name="login" class="btn btn-outline-light mb-2" id="button_log">Ingresar</button>
                
                {% else %}   
                <a href="{% url 'logout' %}" class="btn btn-danger">Cerrar sesión </a>

            {% endif %}
            </form>   
        </div>
      </nav>
    <!-- <nav class="navbar navbar-light " style="background-color:#A96CEB;">
        {% load static %}
        
        <a class="navbar-brand" href="/" style="color: aliceblue;">
            <img src="{% static 'drive/img/logo.png' %}" style="width: 40px; height: 40px;"> 
            School Drive
        </a>

        
        <form class="form-inline" method="post">
             {% if user.is_authenticated %}
                    
                    Hola {{ user.apodo }}
                    <a href="{% url 'logout' %}" class="btn btn-danger">Cerrar sesión </a>
                {% else %}
                    
                    {% csrf_token %}
                    <div class="form-group mb-2" style="margin-right: 5px;">
                        <label for="email" style="color: aliceblue;font-size: medium;">Email: &nbsp;</label>
                        <input type="text" class="form-control" id="nombre_usuario_login" name="mail" style="size: 20px;" placeholder="email@example.com" required>
                    </div>
                    <div class="form-group mb-2" style="margin-right: 5px;">
                        <label for="contraseña" style="color: aliceblue;font-size: medium;">Password: &nbsp;</label>
                        <input type="password" class="form-control" id="contraseña_login" name="contraseña"  placeholder="Password" required>
                    </div>
                    
                    <button type="submit" type="button" name="login" class="btn btn-outline-light mb-2" id="button_log">Ingresar</button>
                    
                {% endif %}
        </form>
    </nav> -->
    <main>{% block content %}{% endblock %}</main>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% load static %}
<script src="{% static 'drive/js/index.js' %}"></script>

</html>