<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet"  href="{% static 'drive/css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#A96CEB;">
        
        <!-- Home -->
        <a class="navbar-brand" href="/" style="color: aliceblue;">
            <img src="{% static 'drive/img/logov2.png' %}" style="height: 40px;"> 
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/" style="color: white; "><i class="fa fa-home"></i> Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/files" style="color: white;" > <i class="fa fa-folder-open-o"></i> Mis Archivos</a>
                </li>
                {% endif %}
            </ul>
            
            <form class="form-inline my-2 my-lg-0" method="POST">
            {% if not user.is_authenticated %}
                {% csrf_token %}

                <div class="form-group mb-2" style="margin-right: 5px;">
                    <label for="email" style="color: aliceblue;font-size: medium;">Email: &nbsp;</label>
                    <input type="text" class="form-control" id="nombre_usuario_login" name="mail" style="size: 20px;" placeholder="email@example.com" required>
                </div>

                <div class="form-group mb-2" style="margin-right: 5px;">
                    <label for="contraseña" style="color: aliceblue;font-size: medium;">Password: &nbsp;</label>
                    <input type="password" class="form-control" id="contraseña_login" name="contraseña"  placeholder="Password" required>
                </div>
                
                <button type="submit" type="button" name="login" class="btn btn-outline-light mb-2" id="button_log">Ingresar</button>
                
                {% else %}   
                <!-- Example single danger button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if user.avatar %}
                            <img src="{{ user.avatar.url }}" class="profileicon">
                        {% else %}
                            <img src="{% static 'drive/img/doggo.jpg' %}" class="profileicon">
                        {% endif %} 
                        {{ user.first_name }} {{ user.last_name }}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" style="margin-left: -20%;">
                        <div class="dropdown-header">
                            {{ user.apodo }} <br>
                            {{ user.email }}
                        </div>
                        <a class="dropdown-item" href="/profile">
                            <i class="fa fa-cog"></i> Editar Perfil
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}" type="button">
                            <i class="fa fa-power-off"></i> Cerrar Sesión
                        </a>
                    </div> 
                </div>
                {% endif %}
            </form>   
        </div>
      </nav>   

    <main>{% block content %}{% endblock %}</main>

</html>